.tuner {
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tuner-carousel {
  margin: auto;
  width: 60%;
  height: auto;
}

.carousel-entry {
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tuner-station__logo {
  padding: 4px;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.tuner-station__name {
  font-size: 12px;
}

.tuner-filter__container {
  margin: auto;
  padding: 4px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tuner-filter__item {
  padding: 4px 10px;
}

