.display-station {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;

}

.display-station__logo {
  border: 2px solid;
  border-radius: 6px;
  border-color: black;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.display-station__info {
  margin: 0px 10px 0px 10px;
  height: 100px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.display-station__hearticon {
  height: 32px;
  width: 32px;
  object-fit: contain;
}