.header {
  margin: auto;
  width: 60%;
  padding: 4px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.login-menu-container {
  display:flex;
  flex-direction: column;
  justify-content: start;
}

.logo-container {
  margin: auto;
}

.date-container {
  text-align: end;
}






