.header-container {
  margin: auto;
  width: 900px;
  padding: 4px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.header__date {
  text-align: start;
}

.header__logo {
  margin: auto;
  scale: 60%
}

.header__login {
  display:flex;
  flex-direction: column;
  align-items: end;
}






