/* .saved-stations-container {
  margin: auto;
} */

.saved-stations__title {
  text-align: center;
  padding: 4px
}


.saved-stations__grid {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(4, 80px);
  grid-template-areas: 
  "save save save save save save"
  "save save save save save save"
  "save save save save save save"
  "save save save save save save"
  ;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  justify-content: center;
}

.saved-station__entry {
  background-color: white;
  border: 1px;
  border-style: solid;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.saved-station__logo {
  padding: 4px;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.saved-station__name {
  font-size: 10px;
}