.App {
}



.middle-section {
  width: 950px;
  height: 288px;
  background-image: url("../assets/img/bg_tuner-surround.png");
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}